// Primary Colors
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

// Neutral Colors
$main-background: hsl(217, 54%, 11%);
$card-background: hsl(216, 50%, 16%);
$horizontal-line: hsl(215, 32%, 27%);
$light: hsl(0, 0%, 100%);
$link-color: hsl(228, 45%, 44%);